.featured {
  padding: 60px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  & > p {
    font-size: 20px;
    font-weight: 600;
  }
  & > img {
    max-height: 55px;
    color: $color-grey;
    opacity: 0.5;
    margin-left: 50px;
  }
  & > img:hover {
    opacity: 0.9;
  }
}
