.team2 {
  padding: 100px;
  text-align: center;
  &-heading {
    color: $color-white;
  }
  &-desc {
    color: $color-white;
    font-size: 16px;
    & > span {
      display: block;
    }
  }
  &-btn {
    font-weight: bold;
    border: 1px solid $color-white;
    box-shadow: 0px 8px 40px 0 rgb(0 0 0 / 37%);
    transition: all 0.3s linear;
    &--white {
      font-weight: bold;
      background: $color-white;
      color: $color-red;
      margin-right: 20px;
    }
    &--white:hover {
      box-shadow: 0px 4px 20px 0 rgb(0 0 0 / 37%);
    }

    &--red {
      background: $color-red;
    }
    &--red:hover {
      background: $color-white;
      color: $color-red;
    }
  }
}
